@page "/accounts"
@using DTO.DTOs
@using global::FrontEnd.Components.Pages.Admin.Accounts
@inherits AccountsBase;


<h2>Użytkownicy </h2>

@if (action != 'n')
{
    if (action == 'e' && chosenAccont != null)
    {
        <AccountUpdateAdmin account=@chosenAccont OnClickCallback="EndAdd"></AccountUpdateAdmin>
    }
}
else
{
    <p style="height:5px"></p>
    <InputText @bind-Value="LookUp" placeholder="Wyszukaj..."></InputText>

}


@if (Accounts != null && Accounts.Count()!=0)
{
    <table class="table">
        <thead>
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>Role</th>
                <th>Active</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var acc in Accounts)
            {
                if (acc.Username.Contains(LookUp, StringComparison.OrdinalIgnoreCase) || acc.Email.Contains(LookUp, StringComparison.OrdinalIgnoreCase))
                {
                    <tr>
                        <td>@acc.Username</td>
                    <td>@acc.Email</td>
                    <td>@acc.Role</td>
                    <td>@acc.isActive</td>
                    <button class="editbtn" @onclick="@(e => Edit(e, acc))">Edytuj</button>
                </tr>
                }
            }
        </tbody>
    </table>
}else
{
    if (Accounts == null)
    {
        <label> <i>Ładowanie...</i> </label>
    }
    else
    {
        <label>Brak danych</label>
    }
}

@code {
    private AccountsDTO chosenAccont;
    private char action='n';
    private string LookUp = "";

    private void Edit(MouseEventArgs e, AccountsDTO a)
    {
        chosenAccont = a;
        action = 'e';
    }

    async void EndAdd()
    {
        action = 'n';

        await RefreshState();
    }
    private async Task RefreshState()
    {
        await Task.Delay(1000);
        await RefreshDatabase();
        this.StateHasChanged();
    }
}
