@page "/absoluteValue"

@using Microsoft.AspNetCore.Components.Authorization
@using global::FrontEnd.Components.Pages.Games.Abs
@inject NavigationManager NavManager

@rendermode InteractiveServer
@inherits AbsBase;

<PageTitle>Wartość Bezwzględna</PageTitle>


@if (ready == true)
{
    <h1 style="text-align:center">Podaj Poprawną Liczbę </h1>
    <p style="height:10px"></p>
    <h2><b> | @exampleNumber | = </b>
    <label style="padding-left:10px"></label>
        <InputNumber @bind-Value="UserAnwser" @onkeydown="@Enter" style="width:80px" />
    </h2>
    <p style="height:5px"></p>
    <button class="confbtn" @onclick="Confirm">Potwierdź</button>
    <p>@gameBase.message</p>
    <p></p>
    <p>Wynik: @gameBase.good / @gameBase.all </p>
}
else
{
    <h2 style="text-align:center"><b>Koniec Gry!</b></h2>
    <p style="height:10px"></p>
    <h4>Twój wynik to: @gameBase.good / @gameBase.all </h4>   
}
<p style="height:50px"></p>
<button class="backbtn" @onclick="GoBack">Cofnij</button>


@code {
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

    private int UserAnwser;

    private async Task Confirm()
    {
        if (UserAnwser == correctNumber)
        {
            await gameBase.GoodAnswer();
            if (gameBase.all>10)
            {
                await gameBase.UpdateUserScore(authenticationStateTask,userProgressService);
                ready = false;
            }
            PrepareNewGame();
            UserAnwser = 0;
        }
        else
        {
            await gameBase.WrongAnswer();
        }
    }

   

    public async Task Enter(KeyboardEventArgs e)
    {
        if (e.Code == "Enter" || e.Code == "NumpadEnter")
        {
            await Task.Delay(500);
            await Confirm();
        }
    }
   


    private async Task GoBack()
    {
        await gameBase.UpdateUserScore(authenticationStateTask, userProgressService);

        NavManager.NavigateTo("ChooseGame/uname/Liczby Całkowite");
    }
}