@inherits DefinitionBase

@using System.ComponentModel.DataAnnotations
@using DTO.DTOs
@using global::FrontEnd.Components.Pages.Admin.Definitions
@rendermode InteractiveServer

<p></p>
<h4>Dodaj definicję</h4>
<p>
    <label>Nazwa: </label>
    <InputText @bind-Value="Name" />
</p>
<p>
    <label>Typ: </label>
    <InputSelect @bind-Value="Type" , @onchange="@((ChangeEventArgs __e) => Type = __e?.Value?.ToString())">
        @foreach (var tp in Enum.GetValues(typeof(Types)))
            {
                <option value="@tp">@tp</option>
            }
    </InputSelect>
</p>
<p>
    <label>Pierwsza część definicji: </label>
    <InputText @bind-Value="p1"> </InputText>
</p>


<p>
    <label>Druga część definicji: </label>
    <InputText @bind-Value="p2"> </InputText>
</p>


@if(Units != null && Units.Count() !=0)
{
    var unitList = Units.ToList();
    //var unitCount = Units.ToList()[1].educationLevel;
    <p>
    <label>Dział: </label>

        <InputSelect @bind-Value="chosenUnit" , @onchange="@((ChangeEventArgs __e) => chosenUnit = __e?.Value?.ToString())">
            @foreach (var un in unitList)
            {
                <option value="@un.name">@un.name</option>
            }
        </InputSelect>

    </p>
}else
{
    <p>
        <label>Dział: <i>Ładowanie...</i></label>
        
    </p>

}


<button class="confbtn" @onclick="Confirm">Potwierdź</button>
<label> &nbsp &nbsp </label>
<button class="backbtn" @onclick="GoBack">Anuluj</button>
<p> @Message</p>


@code {
    [Parameter]
    public EventCallback<string> OnClickCallback { get; set; }

    private string Name = "", Type = "", p1 = "", p2 = "";
    private string Message = "";
    private string? chosenUnit;

    private async Task Confirm()
    {

        if (Name == "" || p1 == "" || p2 == "" ||chosenUnit==null || chosenUnit=="")
        {
            Message = "Podaj nazwę definicji, obie jej części oraz jej dział";
            return;
        }
        if (CheckRepeted() == false)
        {
            Message = "Definicja o tej nazwie istnieje już w tym dziale";
            return;
        }
        //   AddUnit(Name, Description, chosenEdLvl);
        await AddDefinition(Name, Type, p1, p2, chosenUnit);
        Message = "Definicja dodana";
        await GoBack();
    }


    private bool CheckRepeted()
    {
        foreach (var def in Definitions)
        {
            if (def.name == Name && def.UnitName == chosenUnit)
            {
                return false;
            }
        }
        return true;
    }
    private async Task GoBack()
    {
        await OnClickCallback.InvokeAsync();
    }
}
