@using DTO.DTOs
@using global::FrontEnd.Components.Pages.Admin.Unit
@using global::FrontEnd.Components.Pages.Admin.Definitions
@inherits DefinitionBase

<h2>Definicje</h2>

<button class="addbtn" @onclick="AddDefinition">Dodaj definicje</button>

@if (component != 'n')
{
    LookUp = "";
    switch (component)
    {
        case 'a':
            <AddDefinition OnClickCallback="EndAddUpdate"></AddDefinition>
            break;

        case 'e':
            <EditDefinition OnClickCallback="EndAddUpdate" ID="@chosenDefinition.ID" Name="@chosenDefinition.name" p1="@chosenDefinition.part1" p2="@chosenDefinition.part2" unitName="@chosenDefinition.UnitName" Type="@chosenDefinition.type"></EditDefinition>
            break;

        default:
            break;
    }
}else
{
    <p style="height:5px"></p>
    <InputText @bind-Value="LookUp" placeholder="Wyszukaj..."></InputText>

}


@if (Definitions!=null && Definitions.Count()!=0)
{
  /*  var defs = Definitions.ToList();
   
    defs.Sort(delegate (DefinitionDTO x, DefinitionDTO y)
   {
       if (x.UnitName == null && y.UnitName == null) return 0;
       else if (x.UnitName == null) return -1;
       else if (y.UnitName == null) return 1;
       else return x.UnitName.CompareTo(y.UnitName);
   });*/
    <table class="table">
        <thead>
            <tr>
                <th>Nazwa</th>
                <th>Część Pierwsza</th>
                <th>Część Druga</th>
                <th>Nazwa Działu</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var def in Definitions)
            {
                if (def.name.Contains(LookUp, StringComparison.OrdinalIgnoreCase) || def.UnitName.Contains(LookUp, StringComparison.OrdinalIgnoreCase) || def.part1.Contains(LookUp, StringComparison.OrdinalIgnoreCase) || def.part2.Contains(LookUp, StringComparison.OrdinalIgnoreCase)){
                    <tr>
                        <td>@def.name</td>
                    <td>@def.part1</td>
                    <td>@def.part2</td>
                    <td>@def.UnitName</td>
                    <button class="editbtn" @onclick="@(e => Edit(e, def))">Edytuj</button>
                    <button class="delbtn" @onclick="@(e => Delete(e, def))">Usuń</button>

                </tr>
                }
            }
        </tbody>
    </table>
}else
{
    <p></p>
    if(Definitions== null)
    {
        <label><i>Ładowanie...</i></label>
    }
    else
    {
        <label>Brak danych</label>
    }
}

@code {
    // private string n { get; set; }
    private DefinitionDTO chosenDefinition;

    private string LookUp = "";

    char component = 'n';
    async Task Edit(MouseEventArgs e, DefinitionDTO def)
    {
        await EndAddUpdate();
        await Task.Delay(100);
        // tableReady = false;
        chosenDefinition = def;
       // n = "Edytuj "+ def.name;
        component = 'e';
    }
    async Task Delete(MouseEventArgs e, DefinitionDTO def)
    {
        await DeleteDefinition(def);
       // n = "Usuń ";
        await RefreshState();
    }
    void AddDefinition()
    {
        component = 'a';
    }
    async Task EndAddUpdate()
    {
        component = 'n';
        
        await RefreshState();
    }
    private async Task RefreshState()
    {
        await Task.Delay(500);
        await RefreshDatabase();
        this.StateHasChanged();
    }
}

