@page "/CountingUpDown/{By}"
@page "/CountingUpDown"
@using DTO.DTOs
@using Microsoft.AspNetCore.Components.Authorization
@using global::FrontEnd.Components.Classes
@using global::FrontEnd.Components.Pages.Games.CountingUpDown;
@rendermode InteractiveServer
@inherits CountingUpDownBase;
@inject NavigationManager NavManager

<PageTitle>Liczenie w górę/dół</PageTitle>

@if(ready==true)
{
    <h1 style="text-align:center">Wybierz Poprawną Liczbę </h1>

    <h2><b> @excercise </b></h2>
    <p style="height:5px"></p>
    Random rnd = new Random();
    int correct = rnd.Next(0,4);
    for (int i=0;i<4;i++)
    {
        if (i == correct)
        {
             <button class="gamebtns" @onclick="GoodNumber">@correctNumber</button> <label>&nbsp &nbsp</label>
        }else
        {
                <button class="gamebtns" @onclick="gameBase.WrongAnswer">@wrongNumbers[i]</button> <label>&nbsp &nbsp</label>
            }
        }
       
    <p style="height:5px"></p>
    <p>@gameBase.message</p>
    <p style="height:5px"></p>
    <p>Wynik: @gameBase.good / @gameBase.all </p>
}else
{
        <h2 style="text-align:center"><b>Koniec Gry!</b></h2>
        <p style="height:10px"></p>
        <h4>Twój wynik to: @gameBase.good / @gameBase.all </h4>
}
<p style="height:50px"></p>
<button class="backbtn" @onclick="GoBack">Cofnij</button>

@code {
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

    GamesBase gameBase = new GamesBase("Podstawy Liczb", "Gry");

    private async Task GoodNumber()
    {
        await gameBase.GoodAnswer();
        if(gameBase.all>=10)
        {
            ready = false;
            await gameBase.UpdateUserScore(authenticationStateTask,userProgressService);
            return;
        }
        AddNextNumber();
    }

    private async Task GoBack()
    {
        await gameBase.UpdateUserScore(authenticationStateTask, userProgressService);
        NavManager.NavigateTo("ChooseGame/uname/Podstawy Liczb");
    }
}
