@page "/Theory/{Unit}"

@using FrontEnd.Components.Classes
@inject NavigationManager NavManager

@rendermode InteractiveServer
@inherits TheoryBase;


@if (ready == true )
{
    if (Definitions.Count!=0 && currentDef!=null && gamesBase!=null)
    {
        Random rnd = new Random();
  
        <h1 style="text-align:center">Wybierz poprawną odpowiedź</h1>
        <p style="height:10px"></p>

        if(currentDef.type=="Img")
        {
            <p style="font-size:20px">@currentDef.part1:</p>

            if ( imgName != ""){
                var imgsource = "/Assets/"+imgName;
                <img src="@imgsource"  />
                <p></p>
            }
            int correct = rnd.Next(0, incorrects.Count() + 1);
            var j = 0;
            for (int i = 0; i < incorrects.Count() + 1; i++)
            {
                if (i == correct)
                {
                    string s = currentDef.part2;
                    if(s.Contains(";"))
                    {
                        var img = s.Split(";");
                        s = img[0];
                        var imgs = "/Assets/" + img[1];

                        <label style="padding-left:10px;padding-top:5px">
                            <button class="gamebtns" @onclick="GoodNumber">
                                @s
                                <img src="@imgs" style="height:150px;width:150px" />
                            </button>
                        </label>

                    }else
                    {
                        <label style="padding-left:10px;padding-top:5px"> <button class="gamebtns" @onclick="GoodNumber">@s</button> </label>
                    }
                }
                else
                {
                    string s = incorrects[j].content;
                    if (s.Contains(";"))
                    {
                        var img = s.Split(";");
                        s = img[0];
                        var imgs = "/Assets/" + img[1];

                        <label style="padding-left:10px;padding-top:5px">
                            <button class="gamebtns" @onclick="gamesBase.WrongAnswer">@s <img src="@imgs" style="height:150px;width:150px" /></button>
                        </label>
                    }else
                    {
                        <label style="padding-left:10px;padding-top:5px"> <button class="gamebtns" @onclick="gamesBase.WrongAnswer">@s</button></label>
                    }
                    j++;
                }
            }
        }else
        {
            <p style="font-size:20px">@currentDef.part1:</p>
            <p style="height:10px"></p>

            int correct = rnd.Next(0, incorrects.Count()+1);
            var j = 0;
            for(int i=0;i<incorrects.Count()+1;i++)
            {
                if(i==correct)
                {
                    string s = currentDef.part2;
                    <label style="padding-left:10px;padding-top:5px"> <button class="gamebtns" @onclick="GoodNumber">@s</button> </label>
                }else
                {
                    <label style="padding-left:10px;padding-top:5px"> <button class="gamebtns" @onclick="gamesBase.WrongAnswer">@incorrects[j].content</button></label>
                    j++;
                }
            }   
        }
        <p style="height:10px"></p>
        <p>@gamesBase.message</p>
        <p style="height:10px"></p>
        <p>Wynik: @gamesBase.good / @gamesBase.all </p>

    }else
    {
        <p><i>Ładowanie...</i></p>
    }
}else
{
    if (gamesBase != null && error == false )
    {
        <h2 style="text-align:center"><b>Koniec Gry!</b></h2>
        <p style="height:10px"></p>
        <p>Twój wynik to: @gamesBase.good / @gamesBase.all </p>

    }else
    {
        <h2 style="text-align:center"><b>Ten dział nie ma na razie ćwiczeń teorii</b></h2>
        <p style="height:10px"></p>
  
        <h4 style="text-align:center"><b>Przepraszamy za problemy</b></h4>
    }
}
<p style="height:50px"></p>
<button class="backbtn" @onclick="GoBack"> Powrót </button>


@code
{
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

    private async Task GoodNumber()
    {
        if (currentDef != null)
            usedDefinitions.Add(currentDef.ID);

        await gamesBase.GoodAnswer();

        if (gamesBase.all >= 10 || usedDefinitions.Count == Definitions.Count)
        {
            ready = false;
            await gamesBase.UpdateUserScore(authenticationStateTask,userProgressService);
            return;
        }
        else
        {
            await PrepareNew();
        }
    }

    private async Task GoBack()
    {
        gamesBase.message = "Powrót";
        if(error!=false)
        {
            await gamesBase.UpdateUserScore(authenticationStateTask, userProgressService);

        }

        await Task.Delay(500);
        NavManager.NavigateTo("ChooseGame/uname/"+Unit);
    }

}

