@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.FluentUI.AspNetCore.Components

<div class="top-row ps-3 navbar navbar-dark" style="color:cadetblue">
    <div class="container-fluid">
        <a class="navbar-brand" href="">
            <FluentIcon Value="@(new Icons.Regular.Size20.MathSymbols())" Color="@Color.Custom" CustomColor="#FFFFFF" /> Nauka Matematyki
        </a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()" style="color:cadetblue">
    <nav class="flex-column">

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <FluentIcon Value="@(new Icons.Regular.Size20.Home())" Color="@Color.Custom" CustomColor="#FFFFFF" /> Strona Główna
            </NavLink>
        </div>

        <AuthorizeView Roles="User, Admin">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="UserMainPage" Match="NavLinkMatch.All">
                        <FluentIcon Value="@(new Icons.Regular.Size20.PersonHome())" Color="@Color.Custom" CustomColor="#FFFFFF" /> Konto
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
      
        <AuthorizeView Roles="Admin">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/adminPage" Match="NavLinkMatch.All">
                        <FluentIcon Value="@(new Icons.Regular.Size20.HomeDatabase())" Color="@Color.Custom" CustomColor="#FFFFFF" /> Menu Admina
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>

        

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/ChooseGame/elvl/Klasy Jeden-Trzy">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Klasy I-III
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/ChooseGame/elvl/Klasy Cztery-Sześć">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Klasy IV-VI
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/ChooseGame/elvl/Klasy Siedem-Osiem">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Klasy VII-VIII
            </NavLink>
        </div>

    </nav>
</div>

