@page "/WrittenMulti"
@using DTO.DTOs
@using Microsoft.AspNetCore.Components.Authorization
@using global::FrontEnd.Components.Classes
@using global::FrontEnd.Components.Pages.Games.WrittenOperations.Multiplication
@rendermode InteractiveServer
@inherits WrittenMultiplicationBase;
@inject NavigationManager NavManager

<PageTitle>Mnożenie Pisemne</PageTitle>

<h1>Podaj Poprawną Liczbę </h1>

<p style="height:10px"></p>

@if (ready == true)
{
  
    <p style="padding-left:41px">
        @for (int i= 0; i<help.Count;i++)
        {
            var helpnum = i;
            <input type="text" style="width:23px; height:30px; font-size:15px" maxlength="2" @bind-value="@help[helpnum]" @onkeydown="@Enter">
            <label>&nbsp;</label>
        }
  
    </p>
    if(exerciseNumber1.StartsWith(' '))
    {
        <p style="font-size:25px; padding-left:81px"><b> &nbsp @exerciseNumber1 </b></p>

    }else
    {
        <p style="font-size:25px; padding-left:81px"><b> @exerciseNumber1 </b></p>
        
    }
    
    <p style="font-size:25px; padding-left:34px"><b> * &nbsp; &nbsp;&nbsp; &nbsp; @exerciseNumber2 </b></p>            
        
    <hr style="height:5px;border-width:0;color:black;background-color:black; width:20%">

    <p></p>
    
    <p style="padding-left:41px">
        <input type="text" style="width:23px; height:30px; font-size:25px" maxlength="1" @bind-value="hun" @onkeydown="@Enter">&nbsp;
        <input type="text" style="width:23px; height:30px; font-size:25px" maxlength="1" @bind-value="ten" @onkeydown="@Enter">&nbsp;
        <input type="text" style="width:23px; height:30px; font-size:25px" maxlength="1" @bind-value="one" @onkeydown="@Enter">
    </p>

    <button class="confbtn" @onclick="Confirm">Potwierdź</button>
    <p>@gameBase.message</p>
    foreach(var h in hint)
    {
    <p>@h</p>  
    }
    <p></p>

    <p>Wynik: @gameBase.good / @gameBase.all </p>
}
else
{
    <p><b>Koniec Gry!</b></p>
    <p>Twój wynik to: @gameBase.good / @gameBase.all </p>
}

<p style="height:50px"></p>
<button class="backbtn" @onclick="GoBack">Cofnij</button>



@code {
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

    GamesBase gameBase = new GamesBase("Działania Pisemne", "Gry");

    private string UserAnwser = "";
    private string hun = "";
    private string ten = "";
    private string one = "";

    private List<string> help = new List<string>(){"",""};
    private List<string> hint =new List<string>(){"",""};


    private async Task Confirm()
    {
        if (hun == "0"||hun=="")
        {
            hun = "";
            if(ten =="0")
            {
                ten = "";
            }
        }   
        UserAnwser = hun + ten + one;
        if (UserAnwser == correctNumber.ToString())
        {
            await gameBase.GoodAnswer();
            if (gameBase.all >= 10)
            {
                ready = false;
                await gameBase.UpdateUserScore(authenticationStateTask,userProgressService);
                return;
            }
            help = new List<string> { "", "" };
            hint = new List<string> { "", "" };
            UserAnwser = "";
            hun = "";
            ten = "";
            one = "";

            PrepareNewGame();
        }
        else
        {
            await gameBase.WrongAnswer();
            Hints();

        }
    }

    public async Task Enter(KeyboardEventArgs e)
    {
        if (e.Code == "Enter" || e.Code == "NumpadEnter")
        {
            await Task.Delay(500);
            await Confirm();
        }
    }

    private void Hints()
    {
        if((exNum2 % 10)* (exNum1%10)>9)
        {
            var a = (exNum2 % 10)* (exNum1%10);
            if(help[1]==((a-(a%10))/10).ToString())
            {
                hint[0] = "Liczba pomocnicza dziesiątek dobrze uzupełniona!";
            }else
            {
                if (hint[0] == "")
                {
                    hint[0] = "Liczba pomocnicza dziesiątek niepoprawna";
                }else
                {
                    hint[0] = "Liczba pomocnicza dziesiątek powinna wynosić "+ (a-(a%10))/10+ ", ponieważ "+(exNum1 % 10) + " * "+  (exNum2%10)+ " = "+ a;
                    help[1] = (a - (a % 10)) / 10+"";
                }
            }
        }
        if (correctNumber >= 100)
        {
            if (help[0] != "" && help[0] != " " && help[0]!="  ")
            {
                var a = (correctNumber - (correctNumber % 100)) / 100;
                if (help[0] == a.ToString())
                {
                    hint[1] = "Liczba pomocnicza setek dobrze uzupełniona!";
                }
                else
                {
                    if (hint[1] == "")
                    {
                        hint[1] = "Liczba pomocnicza setek niepoprawna";
                    }
                    else
                    {
                        hint[1] = "Liczba pomocnicza setek powinna wynosić " +  a + ", ponieważ " + (exNum1-(exNum1 % 10))/10 + " * " + (exNum2 % 10) + " = ";
                        help[0] = a + "";
                    }

                }
            }
        }
        else
        {
            if (help[0] != "" && help[0] != " " && help[0]!="0" && help[0]!="  ")
            {
                hint[1] = "Liczba pomocnicza setek powinna być pusta";
            }
        }

    }

 
    private async Task GoBack()
    {
        await gameBase.UpdateUserScore(authenticationStateTask, userProgressService);
        NavManager.NavigateTo("ChooseGame/uname/Działania Pisemne");
    }
}
